@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Readex+Pro:wght@200;300;400;500;600;700&family=Roboto+Mono:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');
* {
    font-family: 'Readex Pro', sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(0deg, rgba(92,91,91,1) 11%, rgba(69,69,69,1) 58%, rgba(43,43,43,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: rgb(231, 231, 231);
    border-radius: 8px;
    padding: 5px;
}
::-webkit-scrollbar-thumb {
    background: #727272;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background: #949494;
}
main {
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 150px;
    padding-top: 15px;
    padding-bottom: 20px;
    width: 97%;
}
@media (min-width:300px) {
    main {
        width: 95%;
        font-size: 15px;
        padding: 15px 7px 20px 7px;
    }
}
@media (min-width:350px) {
    main {
        width: 90%;
        padding: 30px 15px 25px 15px;
    }
}
h1 {
    font-size: 35px;
    text-align: center;
    font-family: 'Readex Pro', sans-serif;
    position: absolute;
    line-height: 180px;
    color: white;
    z-index: 1;
}
h2 {
    font-size: 20px;
    margin: 7px 0 7px 0;
}
h2 i {
    font-size: 20px;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-cart {
    margin-top: -5px;
    width: 100%;
    filter: brightness(0.35);
}
.inputs {
    display: flex;
    font-size: 16px;
    flex-direction: column;
    width: 95%;
}
label {
    font-size: 15px;
}
.inputText {
    border: 2px solid rgb(119, 119, 119);
    border-radius: 5px;
    font-size: 15px;
    padding: 8px;
    width: 100%;
}
select {
    padding: 8px;
    margin: 8px 0 8px 0;
    font-size: 15px;
    border: 2px solid gray;
    border-radius: 5px;
}
input#add, input#quantity {
    margin-top: 5px;
}
.inputButton {
    border: 2px solid rgb(119, 119, 119);
    border-radius: 5px;
    font-size: 18px;
    margin-top: 10px;
    padding: 8px;
}
.inputButton:hover {
    background-color: yellow;
    border: 2px solid black;
    cursor: pointer;
    font-weight: bold;
}
.inputButton:active {
    transform: scale(0.95);
    background-color: rgb(255, 255, 59);
}
.progressbar {
    display: flex;
    align-items: center;
    background: rgb(187, 187, 187);
    width: 90%;
    height: 2px;
    margin-bottom: 10px;
}
.bar {
    background: orange;
    width: 0%;
    height: 4px;
    animation: width 1s;
}
.list {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.list-header, .cart-header {
    display: flex;
    border-bottom: 2px solid rgb(194, 194, 194);
    justify-content: space-between;
    padding-bottom: 5px;
}
@media(min-width:350px){
    .cart-header .cart-header-p1 {
        width: 30%;
    }
    .cart-header-p2 {
        width: 19%;
    }
    .cart-header-p3 {
        width: 23%;
    }
}
.list-header p + p {
    width: 30%;
}
.cart-header .price-p {
    width: 20%;
}
.list-header p, .cart-header p {
    font-size: 15px;
    color: gray;
}
.cart {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.list-div, .cart-div {
    border: 2px solid rgb(119, 119, 119);
    border-radius: 8px;
    font-size: 18px;
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 8px;
    width: 95%;
}
@media (min-width:300px) {
    .list-div, .cart-div {
        height: 500px;
    }
}
p#warning {
    font-size: 12px;
    color: red;
    padding-top: 6px;
}
.item-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
    margin-top: 5px;
    padding: 4px;
    border-bottom: 2px solid #727272;
    background-color: rgba(0, 0, 0, 0.062);
}
.div-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.icon{font-size: 16px;}
.icon:hover {color: rgb(128, 128, 128);}
.icon:active {transform: scale(0.95);}


.item-p, .cart-p {
    font-size: 17px;
    width: 1%;
}
@media (min-width:350px) {
    .item-p, .cart-p {
        font-size: 15px;
    }
}
.item-p1 {
    width: 80%;
}
.item-p2 {
    text-align: center;
    width: 20%; /*If a item have a big name the quantity number will not get in the way.*/
    font-size: 14px;
    color: #444444;
}
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
    margin-top: 5px;
    padding: 4px;
    border-bottom: 2px solid #727272;
    background-color: rgba(0, 0, 0, 0.062);
}
.cart-item .cart-p1 {
    text-align: left;
    width: 30%;
}
.cart-item .cart-p2 {
    text-align: center;
    width: 25%;
    font-size: 14px;
    color: #444444;
}
.cart-item .cart-p3 {
    font-size: 14px;
    font-family: 'Readex Pro', sans-serif;
    color: green;
}
.result {
    border: 2px solid rgb(119, 119, 119);
    border-radius: 8px;
    height: 110px;
    margin-top: 15px;
    padding: 8px;
    width: 95%;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
}
.result .result-p {
    font-size: 17px;
    margin: 3px;
    padding: 3px;
}
.result-p3 {
    background-color: green;
    color: white;
    font-family: 'Roboto Mono';
    width: max-content;
}

.finalize {
    border: 2px solid rgb(119, 119, 119);
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px;
    padding: 5px;
    width: 95%;
}
.finalize:hover {
    border: 2px solid black;
    background-color: yellow;
    font-weight: bold;
}
.finalize:active {
    transform: scale(0.95);
    background-color: rgb(255, 255, 59);
    font-weight: bold;
}

div#backgroundWindow {
    display: none;
    justify-content: center;
    position: fixed;
    background: #00000099;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}
.add-to-cart-window {
    display: none;
    position: fixed;
    bottom: 100vw;
    margin: 0 auto 0 auto;
    background-color: white;
    padding: 20px;
    border: 2px solid rgb(70, 70, 70);
    border-radius: 10px;
    width: 92%;
    z-index: 1;
}
.add-to-cart-window .x {
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    position: absolute;
    right: 8px;
    top: 4px;
    color: #3e3e3e;
    cursor: pointer;
}
.add-to-cart-window .x:active {
    transform: scale(0.9);
    color: grey;
}
.add-to-cart-window form {
    display: flex;
    flex-direction: column;
}
.add-to-cart-window input[type='number'] {
    font-size: 18px;
    text-align: center;
    padding: 7px;
    border: 2px solid gray;
    margin-top: 7px;
}
.add-to-cart-window label {
    font-size: 18px;
}
.add-to-cart-window input[type="button"] {
    border: 2px solid rgb(119, 119, 119);
    border-radius: 5px;
    font-size: 18px;
    margin-top: 10px;
    padding: 8px;
}
.add-to-cart-window input[type='button']:hover {
    background-color: yellow;
    border: 2px solid black;
    cursor: pointer;
    font-weight: bold;
}
.add-to-cart-window input[type='button']:active {
    transform: scale(0.95);
    background-color: rgb(255, 255, 59);
}
