@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Readex+Pro:wght@200;300;400;500;600;700&family=Roboto+Mono:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    font-family: 'Readex Pro', sans-serif;
    position: absolute;
    line-height: 180px;
    color: white;
    z-index: 1;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-cart {
    margin-top: -5px;
    width: 100%;
    filter: brightness(0.6) blur(2px);
}
.list {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.list-div {
    height: 350px;
    margin-top: 10px;
    overflow-y: scroll;
    width: 95%;
}